.droite1 {
    width: 500px;
    height: 45px;
    margin-left: 400px;
    background-color: #336699;
    font-size: 40px;
    margin-top: 0px;
}

#imag1 {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}

#imag2 {
    width: 30px;
    height: 30px;
    clip-path: ellipse(50% 50%);
}

#p1 {
    margin-left: 75px;
    margin-top: -47px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.856);
}

#p2 {
    margin-left: 450px;
    margin-top: -55px;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.856);
}

#s1 {
    margin-left: 75px;
    margin-top: -32px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.63);
}

#part2 {
    background-color: #fff;
    font-size: 18px;
    height: 335px;
    margin-top: -18px;
}

#part3 {
    background-color: #fff;
    font-size: 18px;
    height: 126px;
    width: 308px;
}

#part4 {
    background-color: #fff;
    font-size: 18px;
    height: 126px;
    width: 180px;
    margin-left: 320px;
    margin-top: -136px;
}

#part7 {
    margin-top: 20px;
    background-color: #336699;
}

#p3 {
    margin-left: 20px;
    padding-top: 5px;
    font-size: 20px;
}

#p4 {
    margin-left: 20px;
    margin-top: -13px;
    font-size: 15px;
    color: blue;
}

#p5 {
    margin-left: 20px;
    margin-top: -14px;
    font-size: 15px;
    color: rgba(53, 50, 50, 0.623);
}

#p6 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 30px;
}

#p7 {
    margin-top: -40px;
    margin-left: 15px;
    color: rgba(53, 50, 50, 0.699);
}

#p8 {
    margin-top: -21px;
}

#p9,
#p10 {
    margin-left: 15px;
    margin-top: -10px;
    font-size: 20px;
}

#lign1 {
    margin-left: 20px;
    margin-top: -10px;
    width: 470px;
    color: rgba(255, 255, 255, 0.712);
}

#inl {
    margin-top: -23px;
}